extends /../includes/page.pug

block head
  link(rel='preload', as='image', href='/assets/header_background.webp')
  script(type='module', src='/script.js')

block content
  #home-header
    #home-header-text
      #home-logo: include /../includes/icons/logo.svg
    #info
      h1 Under Construction
      p This website is currently under construction.
      h1 Contact
      //- .row
      //-   .icon: include /../includes/icons/at.svg
      //-   | club@example.com
      .row
        .icon: include /../includes/icons/phone.svg
        | 07546 363662
      .row
        .icon: include /../includes/icons/map-marker.svg
        span
          div Sunderland Rowing Club
          div Riverside Park, South Hylton
          div SR4 0RT
